{
  "presets": ["stage-0"],
  "plugins": [
    "transform-class-properties",
    [
      "transform-runtime",
      {
        "helpers": true,
        "polyfill": true,
        "regenerator": true
      }
    ]
  ]
}
